<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Logic Receipt</display-name>

<servlet>
<servlet-name>dataConversion</servlet-name>
<servlet-class>maintenance.servlet.dataConversion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dataConversion</servlet-name>
<url-pattern>/servlet/dataConversion</url-pattern>
</servlet-mapping>
    
<servlet>
<servlet-name>shortcutServlet</servlet-name>
<servlet-class>transaction.servlet.shortcutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>shortcutServlet</servlet-name>
<url-pattern>/servlet/shortcutServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>transaction.servlet.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/servlet/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PasswordEditServlet</servlet-name>
<servlet-class>maintenance.servlet.PasswordEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PasswordEditServlet</servlet-name>
<url-pattern>/servlet/PasswordEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MessageEditServlet</servlet-name>
<servlet-class>maintenance.servlet.MessageEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MessageEditServlet</servlet-name>
<url-pattern>/servlet/MessageEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>VisaSummaryReport</servlet-name>
<servlet-class>transaction.servlet.VisaSummanryReport</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>VisaSummaryReport</servlet-name>
<url-pattern>/servlet/VisaSummaryReport</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DailyTransactionReport</servlet-name>
<servlet-class>transaction.servlet.DailyTransactionReport</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DailyTransactionReport</servlet-name>
<url-pattern>/servlet/DailyTransactionReport</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DailyTransactionOfficerReport</servlet-name>
<servlet-class>transaction.servlet.DailyTransactionOfficerReport</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DailyTransactionOfficerReport</servlet-name>
<url-pattern>/servlet/DailyTransactionOfficerReport</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransactionSummaryReport</servlet-name>
<servlet-class>transaction.servlet.TransactionSummaryReport</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransactionSummaryReport</servlet-name>
<url-pattern>/servlet/TransactionSummaryReport</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ReceiptPrint</servlet-name>
<servlet-class>transaction.servlet.ReceiptPrint</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReceiptPrint</servlet-name>
<url-pattern>/servlet/ReceiptPrint</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReceiptRePrint</servlet-name>
<servlet-class>transaction.servlet.ReceiptRePrint</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReceiptRePrint</servlet-name>
<url-pattern>/servlet/ReceiptRePrint</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransactionInputServlet</servlet-name>
<servlet-class>transaction.servlet.TransactionInputServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransactionInputServlet</servlet-name>
<url-pattern>/servlet/TransactionInputServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransactionSearchServlet</servlet-name>
<servlet-class>transaction.servlet.TransactionSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransactionSearchServlet</servlet-name>
<url-pattern>/servlet/TransactionSearchServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransactionEditServlet</servlet-name>
<servlet-class>transaction.servlet.TransactionEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransactionEditServlet</servlet-name>
<url-pattern>/servlet/TransactionEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransactionEnquiryServlet</servlet-name>
<servlet-class>transaction.servlet.TransactionEnquiryServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransactionEnquiryServlet</servlet-name>
<url-pattern>/servlet/TransactionEnquiryServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ItemCreateServlet</servlet-name>
<servlet-class>maintenance.servlet.ItemCreateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ItemCreateServlet</servlet-name>
<url-pattern>/servlet/ItemCreateServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ItemSearchServlet</servlet-name>
<servlet-class>maintenance.servlet.ItemSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ItemSearchServlet</servlet-name>
<url-pattern>/servlet/ItemSearchServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ItemEditServlet</servlet-name>
<servlet-class>maintenance.servlet.ItemEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ItemEditServlet</servlet-name>
<url-pattern>/servlet/ItemEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ItemDeleteServlet</servlet-name>
<servlet-class>maintenance.servlet.ItemDeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ItemDeleteServlet</servlet-name>
<url-pattern>/servlet/ItemDeleteServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserCreateServlet</servlet-name>
<servlet-class>maintenance.servlet.UserCreateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserCreateServlet</servlet-name>
<url-pattern>/servlet/UserCreateServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserSearchServlet</servlet-name>
<servlet-class>maintenance.servlet.UserSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserSearchServlet</servlet-name>
<url-pattern>/servlet/UserSearchServlet</url-pattern>
</servlet-mapping>
	
<servlet>
<servlet-name>UserEditServlet</servlet-name>
<servlet-class>maintenance.servlet.UserEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserEditServlet</servlet-name>
<url-pattern>/servlet/UserEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserDeleteServlet</servlet-name>
<servlet-class>maintenance.servlet.UserDeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserDeleteServlet</servlet-name>
<url-pattern>/servlet/UserDeleteServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BankCodeCreateServlet</servlet-name>
<servlet-class>maintenance.servlet.BankCodeCreateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BankCodeCreateServlet</servlet-name>
<url-pattern>/servlet/BankCodeCreateServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BankCodeSearchServlet</servlet-name>
<servlet-class>maintenance.servlet.BankCodeSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BankCodeSearchServlet</servlet-name>
<url-pattern>/servlet/BankCodeSearchServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BankCodeEditServlet</servlet-name>
<servlet-class>maintenance.servlet.BankCodeEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BankCodeEditServlet</servlet-name>
<url-pattern>/servlet/BankCodeEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BankCodeDeleteServlet</servlet-name>
<servlet-class>maintenance.servlet.BankCodeDeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BankCodeDeleteServlet</servlet-name>
<url-pattern>/servlet/BankCodeDeleteServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CountryCreateServlet</servlet-name>
<servlet-class>maintenance.servlet.CountryCreateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CountryCreateServlet</servlet-name>
<url-pattern>/servlet/CountryCreateServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CountrySearchServlet</servlet-name>
<servlet-class>maintenance.servlet.CountrySearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CountrySearchServlet</servlet-name>
<url-pattern>/servlet/CountrySearchServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CountryEditServlet</servlet-name>
<servlet-class>maintenance.servlet.CountryEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CountryEditServlet</servlet-name>
<url-pattern>/servlet/CountryEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CountryDeleteServlet</servlet-name>
<servlet-class>maintenance.servlet.CountryDeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CountryDeleteServlet</servlet-name>
<url-pattern>/servlet/CountryDeleteServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>HolidayCreateServlet</servlet-name>
<servlet-class>maintenance.servlet.HolidayCreateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HolidayCreateServlet</servlet-name>
<url-pattern>/servlet/HolidayCreateServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HolidaySearchServlet</servlet-name>
<servlet-class>maintenance.servlet.HolidaySearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HolidaySearchServlet</servlet-name>
<url-pattern>/servlet/HolidaySearchServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HolidayEditServlet</servlet-name>
<servlet-class>maintenance.servlet.HolidayEditServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HolidayEditServlet</servlet-name>
<url-pattern>/servlet/HolidayEditServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HolidayDeleteServlet</servlet-name>
<servlet-class>maintenance.servlet.HolidayDeleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HolidayDeleteServlet</servlet-name>
<url-pattern>/servlet/HolidayDeleteServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BackupServlet</servlet-name>
<servlet-class>maintenance.servlet.BackupServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BackupServlet</servlet-name>
<url-pattern>/servlet/BackupServlet</url-pattern>
</servlet-mapping>

    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>


</web-app>
